.container {
    display: flex;
}

.sidenavbar {
    flex: 1; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidenavbar .footer {
    margin-top: auto;
}

.sidenavbar .header {
    display: flex;
    flex-direction: row;
}

.sidenavbar .header img{
    width: 100px;
    height: 100px;
    transition: background-color 0.5s ease;
}
.sidenavbar .header img:hover{
    background-color: rgba(0 0, 0, 0.4);
}
.content {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.login {
    flex-direction: column;
    align-items: center;
}

h2, .mainlable{
    text-align: center;
}

