{% extends "layout.html" %}

{% block content %}
<h1>Интеллектуальная Система Управления Задачами</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
  <h2>Задачи:</h2>

  {% if tasks %}
    {% for task in tasks %}
      <div class="task">
        <h3>{{ task.taskname }}</h3>
        <p>Плановое время: {{ task.expected_time }}</p>
        <p>Степень сложности: {{ task.task_hardness }}</p>
        <a href="{{ url_for('main.edit_task', task_id=task.id) }}">Редактировать</a>
        <form action="{{ url_for('main.delete_task', task_id=task.id) }}" method="post">
          <input type="submit" value="Delete">
        </form>
      </div>
    {% endfor %}
   {% else %}
      <div class="container">
        <h2> На данный момент нет активных задач</h2>
      </div>
   {% endif %}

{% endif %}

{% endblock %}
