{% extends "layout.html" %}

{% block content %}
<h1>Интеллектуальная Система Управления Задачами</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
  <h2>Текущие задачи</h2>
  <br>
  {% if tasks %}
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Плановое время</th>
            <th scope="col">Степень сложности</th>
            <th scope="col">##</th>
            <th scope="col">###</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <th scope="row">{{ task.id }}</th>
              <td>{{ task.taskname }}</td>
              <td>{{ task.expected_time }}</td>
              <td>{{ task.task_hardness }}</td>
              <td>
                <form action="{{ url_for('main.edit_task', task_id=task.id) }}" method="post">
                  <input type="submit" class="btn btn-outline-warning" value="Редактировать">
                </form>
              </td>
              <td>
                <form action="{{ url_for('main.delete_task', task_id=task.id) }}" method="post">
                  <input type="submit" class="btn btn-outline-danger" value="Удалить">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="container">
      <h2> На данный момент нет активных задач</h2>
    </div>
  {% endif %}

  <h2>Текущие сотрудники</h2>
  <br>
  {% if employees %}
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Доступное время</th>
          <th scope="col">Степень компетенции</th>
          <th scope="col">Часовой оклад</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <th scope="row">{{ employee.id }}</th>
            <td>{{ employee.name }}</td>
            <td>{{ employee.time_available }}</td>
            <td>{{ employee.level }}</td>
            <td>{{ employee.salary }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>     
  {% else %}
      <div class="container">
        <h2> На данный момент нет активных сотрудников</h2>
      </div>
  {% endif %}

{% endif %}

{% endblock %}
